<div class="promotional-banner-container promotional-banner-container-desktop">
    <img class="image-desktop" src="/assets/images/cake.svg" />
    <div class="text-desktop">
        <div class="title-desktop">All deserts</div>
        <div class="discount-desktop">20% OFF</div>
        <div class="category-desktop">Deserty</div>
    </div>
</div>

<div class="promotional-banner-container promotional-banner-container-modile">
    <div class="text-modile">
        <div class="title-modile">All deserts</div>
        <div class="category-modile">Deserty</div>
    </div>
    <div class="discount-modile">20% OFF</div>
    <img class="image-modile" src="/assets/images/cake.svg" />
</div>