<header class="header">
    <div class="header-desktop header-container container-xl">
        <div class="header-left">
            <div class="logo">
                <img class="logo__img" src="/assets/images/logo.svg" />
            </div>
            <div class="search">
                <input class="search__input" placeholder="Search" />
                <button class="search__button">
                    <img class="search-icon" src="/assets/images/search.svg" />
                </button>
            </div>
        </div>
        <div class="header-right">
            <a class="link" href="#">Restaunrans</a>
            <a class="link" href="#">Deals</a>
            <div class="line line-desktop"></div>
            <a class="link" href="#">My orders</a>
            <div class="cart" data-item-count="4">
                <img class="cart__img" src="/assets/images/shopping-bag.svg" />
            </div>
            <div class="profile">
                <img class="profile__img" src="/assets/images/profile.png" />
            </div>
        </div>
    </div>
    <div class="header-mobile header-container container-xl">
        <div class="header-left">
            <div class="logo">
                <img class="logo__img" src="/assets/images/logo.svg" />
            </div>
            <div class="search">
                <input class="search__input" placeholder="Search" />
                <button class="search__button">
                    <img class="search-icon" src="/assets/images/search.svg" />
                </button>
            </div>
        </div>
        <div class="header-right">
            <div class="cart" data-item-count="4">
                <img class="cart__img" src="/assets/images/shopping-bag.svg" />
            </div>
            <div class="profile">
                <img class="profile__img" src="/assets/images/profile.png" />
            </div>
            <div class="line line-mobile"></div>
            <button class="menu-button">
                <img class="menu-button__img" src="/assets/images/menu.svg" />
            </button>
        </div>
    </div>
</header>